.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1{
  text-align: center;
  margin: 10px auto;
}
.writeIco{
height: 30px;
width: 30px;
margin-bottom: -5px;
}
.tablebody{
  
  margin-left: 50px;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 4px 4px 12px 12px rgba(0,0,0,.12);
  max-width: 90%;
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  
}
ul{
  list-style: none;
  padding-bottom: 30px;
}
li{
  margin-top: 10px;
  display: flex;

}
li .checked{
  text-decoration: line-through;
}
.todoTitle{
  margin-right: 35px;
  width: 40%;
}
.todoDate{
  width: 35%
}
.delButton{
  margin-left: 15px;
}
.searchIcon{
  width:10%;
  height:30px;
  color: #0f0f0f;

}
.searchBar{
  margin: 30px 45px 10px 0;
  font-size:x-large ;
  padding: 0.2rem;
  width: 40%;

}
.showHideTask{
  width: 20%;
  
  margin: 40px 30px;
}

.newTodo{
  margin-left: 50px;
  margin-bottom: 15px;
  align-items: center;
  position: relative;
  max-width: 70%;
  border: 2px solid hsl(40, 85%, 8%);
  border-radius: 5px;

}
.newTodo::after {
	content:'';
	clear: both;
	display: table
}
.newTodo label{
  margin: 5px;
}
.newTodo input .textInput{
  width: 280px;
  height: 20px;
  margin: 5px;

}
.newTodo input .dataInput{
  width: 150px;
  height: 20px;
  margin: 5px;
}

.add-task-text{
 
  margin: 10px;

}
.add-task-task{
  width: 35%;
  display: inline;
  margin: 20px;

}

.add-task-submit{
  position: absolute;
  right: 0;
  bottom: 0px;
  margin: 20px;

}
.add-task-date{
  margin: 20px;

}

.add-task-check{
  width:10%;
  display: inline;
  
  margin-left: 20px;


}